/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

body {

}

article {
  margin: auto;
  max-width: 1100px;
}

h1 {

}

img {
	max-width: 100%
}
footer {
    border-top: 2px solid lightgrey;
}
/* zocial */
[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  font-size: 30px;
  padding: 48px;
  text-shadow: 3px 3px 3px #aaa;
}
.social-icons {
  margin: auto;
  width: 100%;
}
div.social-icons a:last-of-type {
	padding-right: 0;
}
@media screen and (max-width: 560px){
	footer {
    margin: auto;
    width: 55%;
	}
}