/** {
	outline: 2px solid red;
}
*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.logo {
	margin-top: 15px;
}

header {
	border-bottom: 3px solid #90060c;
	font-family: "Share Tech", sans-serif;
	margin-bottom: 20px;
	padding: 10px 20px 20px 20px;
}

.name h1 {
	font-size: 50px;
	text-transform: uppercase;
}

.bio {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	margin-top: 30px;
}

.featured-work-heading h2 {
	color: #BDBDBD;
	font-size: 34px;
}

.featured-border,
.social-border {
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	height: 10px;
	margin-top: 5px;
	width: 50%;
}

.contact-me h4 {
	font-family: "Share Tech", sans-serif;
	font-size: 40px;
	margin-top: 100px;
}

.main-image {
	max-width: 100%;
}

.main-pic {
	max-height: 400px;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}

.work-title h4 {
	font-family: "Share Tech", sans-serif;
	font-size: 35px;
	text-transform: uppercase;
}

.work-image {
	height: 300px;
	overflow: hidden;
	max-width: 300px;
}

.work-link a {
	color: #90060c;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 200;
	text-decoration: none;
	transition: 0.7s;
	padding-bottom: 250px;
}

.work-link a:hover {
	color: black;

}
.social-icons a {
	font-size: 50px;
	color: black;
	transition: 300ms;
}
.social-icons a:hover{
	color: #90060c;
}

@media screen and (max-width: 800px) {
	.main-pic {
		height: 150px;
	}
	.work-info {
    margin-bottom: 30px;
	}
	.work-link a {
		padding-bottom: 50px;
	}
	.name h1{
		font-size: 37px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1199px) {
	.main-pic {
		height: 250px;
	}

@media screen and (min-width: 1200px) {
	.main-pic {
		height: 400px;
	}

