body {
    text-align: center;
/*     margin: 0; 
    height: 100%; 
    overflow: hidden */
}

#lives {
  font-size: 60px;
  color: red;
  margin: 0;
}

#lives p {
  letter-spacing: 10px;
  margin: 0;
}

#level {
  font-size: 30px;
  color: blue;
}
#winner,
#loser{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #43A047;
}

#loser {
  background-color: #F44336;
}

/* Text Flashing from https://codepen.io/MeghanFrisco/pen/pyPpRa?q=flash+text&limit=all&type=type-pens */
#winner p,
#loser p{
  font-size: 120px;
  font-family: "Baloo Bhaijaan", cursive;
  text-transform: uppercase;
  color: #66ccff;
}
#winner p{
	-webkit-animation-name: wflashanim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-timing: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
     animation-name: wflashanim;
    animation-duration: 1.5s;
    animation-timing: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#loser p{
  -webkit-animation-name: lflashanim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-timing: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
     animation-name: lflashanim;
    animation-duration: 1.5s;
    animation-timing: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes wflashanim {
    0% {	color: #fff;}   
    100% {	color: #43A047;}
  
}
@keyframes lflashanim {
    0% {	color: #fff;}   
    100% {	color: #F44336;}
  
}

button#playAgain {
    width: 50%;
    padding: 8px;
    font-size: 39px;
    border: 3px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-family: "Baloo Bhaijaan", cursive;
    transition: 0.6s;
}

button#playAgain:hover{
  -webkit-box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.33);
  box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.33);
  background-color: white;
}

#loser button#playAgain {
    background-color: #F44336;
}
#loser button#playAgain:hover {
    color: #F44336;
    background-color: white;
}

#winner button#playAgain {
    background-color: #43A047;
}
#winner button#playAgain:hover {
    color: #43A047;
    background-color: white;
}