* {
	font-family: 'Lato', sans-serif;
}
.work-img  {
	align-content: center;
	padding: 15px;
}
.name {
	text-align: right;
	text-transform: uppercase;
}
.name-and-logo {
	border-bottom: 3px solid #bcbbbb;
}
.work-img-title {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
.work-link {
	font-weight: bold;
	text-align: center;
}